
body {
    text-align: center;
}

#content {
    width: 1000px;
    margin: 0 auto;
}

#text {
    resize: none;
}

.uk-form {
    margin-top: 20px;
}

.uk-table {
    margin-top: 50px;
}

.uk-table th {
    text-align: center;
}

.uk-table tr td:nth-child(5) {
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#input {
    float: right;
}

#submit {
    float: right;
}