<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="static/css/uikit.min.css" rel="stylesheet" type="text/css">
    <link href="static/css/uikit.gradient.min.css" rel="stylesheet" type="text/css">
    <link href="static/css/components/upload.min.css" rel="stylesheet" type="text/css">
    <link href="static/css/index.css" rel="stylesheet" type="text/css">
    <script src="/static/js/jquery-1.7.1.min.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/components/upload.js"></script>
    <script src="/static/js/socket.io.js"></script>
    <script src="/static/js/index.js"></script>
</head>
<body>
<div id="content">

    <form class="uk-form uk-form-stacked">
        <div class="uk-form-row">
            <label class="uk-form-label" for="form-s-t">文本内容</label>
            <div class="uk-form-controls">
                <textarea id="text" cols="180" rows="10" placeholder="请输入文本..."></textarea>
            </div>
        </div>
        <div class="uk-form-row">
            <button class="uk-button" type="button" id="submit">Submit</button>
        </div>
    </form>

    <h3 class="tm-article-subtitle">上传文件</h3>
    <div id="upload-drop" class="uk-placeholder uk-text-center">
        <i class="uk-icon-cloud-upload uk-icon-medium uk-text-muted uk-margin-small-right"></i> 将文件拖拽至此 或 <a
            class="uk-form-file">选择一个文件 <input id="upload-select" name="upload-select" type="file"></a>
        (目前仅支持<10M的文件).
    </div>
    <div id="progressbar" class="uk-progress uk-hidden">
        <div class="uk-progress-bar" style="width: 0%;">0%</div>
    </div>

    <table class="uk-table">
        <caption>共享内容</caption>
        <thead>
        <tr>
            <th>ip</th>
            <th>datetime</th>
            <th>type</th>
            <th>content</th>
            <th>operation</th>
        </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
    </table>

</div>
</body>
</html>